canvas{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

h1{
	font-size: 80;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: bold;

	text-align: center;
}

h2{
	font-size: 50;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: bold;

	margin: 1em 0 0.1em 0;
}

.name{
	font-size: 20;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: bold;
}

.member{
	font-size: 20;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: normal;

	margin: 0.2em 0;
}

.quote{
	margin: 0.1em 0 3em 0;
	line-height: 1.2;

	font-size: 30;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.buttons{
	width: 400px;
    margin: auto;
}

.wideimage{ width: 100%; }

cite{
	font-size: 20;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: bold;
	
	float: right;
}

.right{text-align: right; }

.message{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	
	font-size: 50;
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 500;
	font-style: normal;
}